<!-- Caraousel -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" style="width: 100%;">
    <div class="carousel-indicators" *ngIf="eventList.length > 1">
        <button 
            *ngFor="let ev of eventList; let i = index"
            type="button"
            data-bs-target="#carouselEvent"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? true : null"
        ></button>
    </div>
    <div class="carousel-inner">
        <div 
            class="carousel-item"
            *ngFor="let ev of eventList; let i = index"
            [class.active]="i === 0"
            data-bs-interval="4000">

            <img 
                [src]="ev.gambar.includes('http') ? ev.gambar : 'http://localhost:3000/images/' + ev.gambar"
                class="d-block w-100 object-fit-cover"
                style="height: 500px;">

            <div class="carousel-caption d-block text-black">
                <h5>{{ ev.judulEvent }}</h5>
                <p>{{ ev.lokasi }}</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <i class="bi bi-chevron-left text-success fs-1"></i>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <i class="bi bi-chevron-right text-success fs-1"></i>
    </button>
</div>
<!-- /CAROUSEL -->


<!-- Section Budaya Nusantara -->
<section>
    <div class="container-fluid p-5" style="background-color: #c8ba99;">
        <div class="row justify-content-center d-flex">
            <div class="row text-center">
                <span class="fs-2 mb-1 fw-bold animate__animated animate__slideInDown" style="font-family: 'Cinzel';color: #3F2E1D;">Budaya Nusantara</span>
                <span class="fs-6 fw-light" style="font-family: 'Roboto'; color: black;">Selamat datang di Budaya Nusantara jelajahi budaya Indonesia dengan cepat.</span>
            </div>
            <!-- Search -->
            <div class="input-group mt-4 mx-auto " 
                style="max-width: 800px;">
                
                <span class="input-group-text bg-white border-0" >
                    <i class="bi bi-search text-muted"></i>
                </span>

                <input type="text" 
                    class="form-control border-0 ps-2" 
                    style="height: 55px;" 
                    placeholder="Pencarian..."
                    [(ngModel)]="searchQuery"
                    (input)="searchBudaya()"
                    [disabled]="isLoading"
                >
                <button class="btn btn-outline-secondary"
                    type="button"
                    *ngIf="searchQuery"
                    (click)="clearSearch()"
                    [disabled]="isLoading">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <!-- /Search -->

            <!-- Budaya Card -->
            <div class="row g-4 mb-4">
                <div class="col-md-6 col-lg-4" *ngFor="let item of filteredList">
                    <!-- Tempat card di tarok -->
                    <app-card-budaya [budaya]="item"></app-card-budaya>
                </div>
            </div>
            <!-- /Budaya Card -->

        </div>
    </div>
</section>
<!-- /Section Budaya Nusantara -->


<section id="tentang-kami">
    <div class="container-fluid p-5" style="background-color: #3F2E1D;">
        <div class="row mb-4 align-items-start align-items-md-center">

            <!-- Gambar: center di mobile, kiri di desktop -->
            <div class="col-12 col-md-4 mb-4 
                        d-flex justify-content-center justify-content-md-start">
                <img src="assets/images/logo.png"
                     alt="Icon"
                     class="img-fluid"
                     style="max-width: 280px; height: auto;">
            </div>

            <!-- Teks: sejajar vertikal saat desktop -->
            <div class="col-12 col-md-7 text-white">
                <h1 class="fw-bold fs-3 mb-3">Tentang Kami</h1>
                <p class="fw-light" style="font-family: 'Roboto'; text-align: justify;">
                    Budaya Nusantara adalah platform digital yang menghadirkan informasi lengkap mengenai
                    adat istiadat, seni tradisional, pakaian adat, rumah adat, musik daerah, kuliner khas,
                    hingga sejarah budaya dari seluruh provinsi di Indonesia. Selain itu, website ini juga
                    menyediakan jadwal event dan festival budaya terbaru, sehingga pengunjung dapat mengikuti
                    berbagai kegiatan seni di berbagai daerah. Dengan tampilan modern bernuansa tradisional,
                    Wisata Nusantara menjadi wadah edukasi dan eksplorasi budaya bagi masyarakat, pelajar,
                    wisatawan, dan siapa saja yang ingin mengenal lebih dalam kekayaan budaya Indonesia
                    dari Sabang hingga Merauke.
                </p>
            </div>

        </div>
    </div>
</section>



