.btn-custom{
    background-color: #3F2E1D;
    color: white;
    border-radius: 12px;
    border:none;
    padding: 12px 28px; 
}

.card-img-top {
  height: 180px;         /* tinggi seragam */
  object-fit: cover;     /* auto-crop supaya rapi */
  border-radius: 10px 10px 0 0;
}


.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-pointer {
  cursor: pointer;
}


.unclamp {
  display: block !important; /* hilangkan clamp saat expand */
}

