<section class="min-vh-100 py-5" style="background-color:#3F2E1D;">
    <div class="container mb-4">
        <div class="row align-items-center justify-content-between">
            
            <!-- Judul -->
            <div class="col-auto">
                <div class="text-white fw-bold fs-3" style="font-family: 'Roboto';">
                    Event kegiatan
                </div>
            </div>

            <!-- Input Search -->
            <div class="col d-flex justify-content-end">
                <div class="input-group" style="max-width: 350px;">
                    <span class="input-group-text bg-white border-0">
                        <i class="bi bi-search text-muted"></i>
                    </span>
                    <input 
                        type="text"
                        class="form-control border-0"
                        style="height: 36px;" 
                        placeholder="Pencarian..."
                        [(ngModel)]="searchQuery"
                        (input)="searchEvent()">
                    
                    <button class="btn btn-custom-x"
                        type="button"
                        *ngIf="searchQuery"
                        (click)="clearSearch()"
                        ><i class="bi bi-x-circle"></i>
                    </button>
                        
                </div>
            </div>
        </div>
    </div>

    <div class="container">       
        <div class="d-flex my-3 justify-content-end text-white">
            <a routerLink="/tambah-event" class="btn btn-custom">Tambah Event</a>
        </div>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of filteredList">
                <div class="card shadow-sm"  style="max-width: 100%;">
                    <img [src]="item.gambar.includes('http') ? item.gambar : 'http://localhost:3000/images/' + item.gambar" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title mb-4 fw-bold">{{item.judulEvent}}</h5>
                        
                        <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-calendar me-2 text-primary"></i>
                            <span><span class="fw-semibold">Jadwal</span>: {{formatDate(item.tanggalEvent)}}, {{item.jamEvent}}</span>
                        </div>

                        <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-geo-alt me-2 text-danger"></i>
                            <span><span class="fw-semibold">Lokasi</span>: {{item.lokasi}}</span>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <i class="bi bi-tag me-2 text-success"></i>
                            <span><span class="fw-semibold">Harga</span>: {{formatPrice(item.harga)}}</span>
                        </div>
                        <a [routerLink]="['/detail-event', item._id]" class="btn btn-custom">Lihat selengkapnya...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>